@import "tailwindcss";

:root {
  --background: #EAEAEA;
  --foreground: #262626;
  --placeholder: #4E4E4E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-placeholder: var(--placeholder);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  @apply px-4 font-medium font-sans
}

h1{
  @apply text-3xl font-semibold;
}

h2{
  @apply text-2xl font-semibold;
}

label{
  @apply font-medium;
}
input{
  @apply focus:outline-none placeholder:font-extralight placeholder:text-placeholder;
}


.h1-like{
  @apply text-3xl font-semibold;
}

.col-flex{
  @apply flex flex-col;
}

.row-flex{
  @apply flex flex-row;
}

.flex-centerize{
  @apply flex items-center justify-center;
}
